@import "styles/variables.scss";

.title {
  margin: 30px 0;
  font-size: 1.8em;
  font-weight: 600;
}

.list {
  li {
    display: flex;
    align-items: center;

    p {
      font-size: 1.2em;
      color: $dark-gray;
    }
  }

  li:not(:last-child) {
    margin-bottom: 30px;
  }

  li:before {
    margin-right: 10px;
    display: block;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $dark-gray-text;
  }
}
