@import "styles/variables";

.create-recipe__form {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 47%;
  margin: auto;

  form {
    width: 100%;
  }

  form:not(:last-child) {
    margin-bottom: 10px;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;

    span {
      width: 100%;
      font-weight: 600;
      font-size: 1.6em;
      margin: 0 auto 14px;
    }

    p {
      font-size: 1.1em;
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
      color: $red;
    }

    p.active {
      opacity: 1;
      visibility: visible;
      margin-bottom: 10px;
    }

    input {
      font-size: 1.2em;
      width: 100%;
      margin: auto;
      padding: 10px 12px;
    }

    input:focus {
      border: 1px solid $accent;
      color: $dark-gray;
    }
  }

  label:not(:last-child) {
    margin-bottom: 15px;
  }

  .many-values {
    ul {
      margin: 0px 5px 10px;
      border-radius: 10px;

      li {
        padding: 12px 10px;
        font-size: 1.2em;
        border-bottom: 1px solid $gray;
      }
    }

    label {
      margin-bottom: 0;
    }

    div {
      p {
        font-size: 1.1em;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
        color: $red;
      }

      p.active {
        opacity: 1;
        visibility: visible;
        margin-bottom: 10px;
      }
    }
  }

  .many-tags {
    ul {
      margin: 0px 5px 10px;
      display: flex;
      flex-wrap: wrap;

      li {
        padding: 12px 10px;
        font-size: 1.2em;
        border: 1px solid $gray;
        border-radius: 10px;
        margin-bottom: 5px;
      }

      li:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  .btn-submit {
    margin-top: 20px;
    color: $white;
    font-weight: 600;
    background-color: $accent;
    font-size: 1.1em;
  }
}
