@import "reset";

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  margin: auto;
  max-width: 1050px;
  padding: 0 15px;
}

.main {
  padding: 35px 0;
}
