@import "styles/variables";

.header {
  border-bottom: 1px solid $gray;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authBtns {
  display: flex;
}

.btn {
  background-color: $white;
  font-size: 1.18em;
  cursor: pointer;
  font-weight: 600;
  color: $accent;
}

.btn:hover {
  color: $dark-accent;
}

.btn:not(:last-child) {
  margin-right: 10px;
}
