.title {
  margin: 30px 0;
  font-size: 1.8em;
  font-weight: 600;
}

.step {
  font-size: 1.3em;
  margin-bottom: 14px;
  font-weight: 600;
}

.list {
  li:not(:last-child) {
    margin-bottom: 30px;
  }

  .listText {
    max-width: 80%;
    font-size: 1.2em;
    line-height: 1.4;
  }
}
